<div class="container">


<div class="container well well-lg">
        <form >
          <div class="row"> 
              <div class="col-sm-6 col-xs-12">
          <div class="form-group">
                  <label>Type</label>
                  <select name="phoneType" [(ngModel)]="currentPhone.type">
                      <option value="mobile">Mobile</option>
                      <option value="office">Office</option>
                      <option value="home">Home</option>
                  </select>
                 
                </div>
              </div>
          
              <div class="col-sm-6 col-xs-12">
              <div class="form-group">
              <label>Number</label>
              <input [(ngModel)]="currentPhone.number" class="form-control" name="firster" />
            </div>
          </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-success btn-block" *ngIf="currentPhone.id" (click)="editphone(currentPhone);">Update</button>
            
            <button type="button" *ngIf="!currentPhone.id" (click)="addPhone()" class="btn btn-info btn-block" >add</button>
          </div>
    
    </form>
    
    </div>
<table>
    <thead>
    <tr>        
        <th>Type</th>
        <th>Number</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody >
        <tr *ngFor="let phone of phones$" >        
                <td>{{phone.type}}</td>
                <td>{{phone.number}} </td>
                <td><a (click)="currentPhone = phone;" >Edit </a> </td>
                <td><a (click)="deletePhone(phone)">Delete </a> </td>
            </tr>
</tbody>
</table>



 
</div>