<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <app-contact-search [accountId]="userId"></app-contact-search>
        </div>
    </div>
    
    <div class="row well ">
       <app-phone-editer [contacts]="phones$"></app-phone-editer>   
    </div>
    <table class="table table-strip">
        <thead>
            <tr>        
                <th>Name</th>
                <th>Type</th>
                <th>Number</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let phone of phones$" >        
                <td>{{phone.name }}</td>
                <td>{{phone.type}}</td>
                <td>{{phone.number}} </td>
                <td>
                    <button 
                        class="btn btn-info" 
                        routerLink="/account/{{userId}}/view/{{phone.id}}" >
                        Edit 
                    </button> 
                </td>
                <td>
                    <button 
                        class="btn btn-danger" 
                        (click)="deletePhone(phone)">
                        Delete 
                    </button> 
                </td>
            </tr>
        </tbody>
    </table>
 
</div>