
<div class="container">
    <form  [formGroup]="contactForm" (ngSubmit)="editPhone()" >
      <div class="row"> 
          <div class="col-sm-2 col-xs-12">
      <div class="form-group">
              <label>Type</label>
                <select  formControlName="phoneType"  class="form-control" >
                  <option value="mobile">Mobile</option>
                  <option value="office">Office</option>
                  <option value="home">Home</option>
              </select>
             
            </div>
           
          </div>
          <div class="col-sm-5 col-xs-12">
                <div class="form-group">
                <label>Name</label>
                <input formControlName="contactName" class="form-control" />       
              </div>
            
            </div>
          <div class="col-sm-5 col-xs-12">
          <div class="form-group">
          <label>Number</label>
          <input formControlName="phoneNumber" class="form-control" />       
        </div>
      
      </div>
      
      </div>
     
    
      <div class="text-center">
        <button type="submit" class="btn btn-success btn-block" [disabled]="contactForm.invalid"  *ngIf="currentPhone?.id" >Update</button>
        
        
      </div>

</form>
</div>
<p>Form value: {{ contactForm.value | json }}</p>
<p>Form status: {{ contactForm.status | json }}</p>