
div.phonebooks {
  
    margin:5px;
    border-radius: 5%;
    height: 100px;
    background-color: lightblue;
    text-align: center;
}


span.user-name {
    font-weight: bold;
    font-size: 1em;
}